<table class="table table-striped table-bordered restauranttable" ng-controller="RestaurantListController">
	<thead>
	    <tr>
	        <th>Restaurants</th>
	        <th></th>
	    </tr>
	</thead>
    <tr ng-repeat="restaurant in restaurants">
        <td>{{restaurant.name}}</td>
        <td class="text-right">
  			<a class="btn btn-primary btn-sm" ng-href="#/restaurants/{{restaurant.id}}/view" >
  				<i class="fa fa-eye "></i> View
  			</a>
        	<a class="btn btn-danger btn-sm" ng-click="showDeleteModal(restaurant)" >
  				<i class="fa fa-trash-o"></i> Delete
  			</a>
        </td>
    </tr>
</table>
<a href="#/restaurants/new" class="btn btn-primary nodecoration">New</a>