.top-buffer{
    margin-top:10px;
}

.restauranttable tr td:nth-child(2){
    width: 250px;
}

.restauranttable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}